/* KANDY CHAT STYLE */
.myChatStyle .kandyMessages {
    background: #EFEFEF;
    padding: 0 0 0 5px;
}

.myChatStyle .imMessageToSend {
   
}

.myChatStyle .messages {
 
}

.myChatStyle .my-message {
   
}

.myChatStyle .their-message {
    
}

.myChatStyle .btnSendMessage {
    
}

.myChatStyle .input-message {
    
}

.myChatStyle .button-send {

}

.myChatStyle .contact-heading {
}

.myChatStyle .chat-with-message {
}

.myChatStyle .chat-heading {
    padding: 5px 0;
}
